<html>

<head>
    <meta charset="UTF-8">
    <title>Train your Brain</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="gameApp" ng-controller="ctrl as ctrl">
    <div class="container main">
        <h1>Train your brain with this game</h1>
        <p>On each level a grid will be shown to you.You have to remember the right configuration of it.
        <br>Right configuration of the grid will be visible for 4 seconds.Then you can resume the play.</p>

        <h5>Use you brains, mark the correct ones and complete the game.Have fun.</h5>
        <h4>Level:{{ctrl.level}} &emsp;Score={{ctrl.score}} &emsp;Left : {{ctrl.toBeFound-ctrl.found}}</h4>
        <button type="button" class="btn btn-primary" ng-click="ctrl.beginLevel()" ng-disabled=" ctrl.disableButton ">Show</button>
        <div class="row ">
            <table class="table table-bordered grid " >
                <tr ng-repeat="row in ctrl.grid ">
                    <td ng-repeat="cell in row track by $index ">
                        <button type="button " ng-disabled="ctrl.waitTillReveal" ng-disabled="cell.disabled"

                        ng-class="{'btn btn-primary btn-lg': cell.win,
                                       'btn btn-danger btn-lg': cell.lose,
                                       'btn btn-default btn-lg': !cell.win && !cell.lose}" 
                        ng-click="ctrl.checkCell(cell)">

                            <span ng-class="{'glyphicon glyphicon-unchecked': !cell.chosen, 'glyphicon glyphicon-ok': cell.win, 'glyphicon glyphicon-remove': cell.lose}"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="js/script.js "></script>
</body>

</html>
