body 
{
border-top:5px solid #2980b9;
}



header div img{
	max-width:100%;
	height:auto;
	}

header{background:#fff;}
	
	.container
{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.layer{
	background-color:rgba(41,142,204,.2);
}

/***********HEADER******************/

header p
{font-size:50px;
font-weight:700;
}


header p.light
{
	color:#4C4B4B;
	font-size:48px;

}

header strong{
	font-weight:900;
	display:block;
	font-size:110px;
}

header strong span{
	color:#2980b9;
}

/**********************************/

section
{padding: 2em 0 5em 0;}

main{
	background-color:#2980b9;
	padding: 3.2em 0;
}

main h1
{
    text-align: center;
    line-height: 1.385;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
	} 

section.CV
{
	background-color:#000;
}


/***********SECTION SKILLS******************/

#Skills
{
	background-image:url(background.jpg); 
	position:relative;
	font-family: 'Open Sans', serif;
	}

#Skills ul 
{	
	list-style:none;
	width:100%;
} 	
	
#Skills  ul.skills li{
	line-height:43px;
}	
	
#Skills  ul.skills li span
{	display:block;
	line-height: 14px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
	}
	
#Skills  ul.skills li strong{
	font-size: 18px;
    font-weight: 300;
}	
	
	
#Skills ul.skills {
    padding-top: 0px;
    margin-top: 0;
}

#Skills h3{color:#298ECC;
margin-top:10px;}

#Skills h4{color:#298ECC;
	font-size:24px;}
	
#Skills .col-sm-7 ul li
{	margin-top:13px;
	margin-bottom:15px;
	font-size:18px;}
	
h2{
	font-size: 42px;
    text-align: center;
    text-transform: uppercase;
	padding: 1em 0 .8em 0;
}	

#bring h2
{color:#fff;
}	

h2:after{
	content:'';
	display:block;
	padding-top:20px;
	margin:0 auto;
	width:60px;
	border-bottom:3px solid #000;
}
	
/**********************************/


/***********SECTION BRING******************/
#bring
{background:#18bc9c;
position:relative;}

#bring ul {position: relative;}


#bring ul li {
	padding-left:40px;
	margin-bottom:22px;
	color:#e9eff4;
	line-height: 1.5em;
	font-size:20px;
	list-style:none;
}

#bring ul li:before
{
	content: '\f00c';
	font-family: FontAwesome;
	color:#e9eff4;
	width:40px;
	margin-left:-40px;
	display:inline-block;
}


/***********************************/




#bring div.centered
{float:none;
margin:0 auto;
color:black;}


main h1
{text-align:center;
color:#fff;
font-size:40px;
font-weight:400;}
/* ************************************** */
#contactMe p
{font-size:35px;
color:#fff;
margin:20px; }	

#contactMe{
	background-image:url(background.jpg);
	}

#contactMe div.centered{
	float:none;margin:0 auto;
}

#contactMe .container{text-align:center;}

#contactMe img{border-radius:100%;
margin-top::;
margin-bottom:5%;
border: 4px solid red;
}

#contactMe ul
{list-style:none;
margin:0;
padding:0;
}

#contactMe li {
    display:inline;
	padding:6px;
	margin:3px;
	}
#contactMe li a{	
color:red;}

#contactMe li a:hover{	
color:black;}

#contactMe .btn {
	white-space:normal;
	color:#fff;
	margin-top:10px;
	background-color:black;
	font-size:13px;
	font-style:bold;
	border-radius:2%; }

#contactMe .btn:hover {
  background-color : white;
  color:red;
  border: 1px solid red;
  font-style:bold;
	}

	#contactMe .btn :target{
color:#fff;}
	
/*********************************/


#CV p{
	text-align:center;
	font-size: 30px;
    font-size: 4.5vw;
	}
	
#CV .center {text-align:center;
float:none;
margin:0 auto;}
	

#footer{
	background-color:#000;
	text-align:center;
	padding:0;
}

#footer p
{
color:#fff;
height: 24px;
line-height: 24px;
font-size:1em;
}


#CV .btn {
	margin-top:20px;
	color:#EB7F00;
	background-color:#fff;
	line-height:2em;
	font-size:14px;
	border-radius:2%;
	text-transform:uppercase;
	margin:5%; }

#CV .btn :target{
color:#fff;}
	


	.glow{
	color:#fff;
	background-color:#eb7f00;
}

#fit img{
	width:100%;
	padding-bottom:2px;
	padding-top:15px;
	margin-top:10px;
}

#fit .fiText{
	color:orange;
	text-transform:uppercase;
	text-align:center;
	font-size:14px;
	margin:10px;
	font-weight:700;
}

.blink {
    font-size:15px;
    background-color: black;
  -webkit-animation-name: beat;
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 2s; 
}   

@-webkit-keyframes beat {  
  0% { color: red; }
  50% { color: red; }
  51% { color: black; }
  100% { color: black; }
}

